<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Dtu_connect">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.Dtu_connect.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.Dtu_connect.UploadChoice"></activity>
        <activity android:name="com.example.Dtu_connect.DownloadNotes"></activity>
        <activity android:name="com.example.Dtu_connect.UploadNotes"></activity>
        <activity
            android:name="com.example.Dtu_connect.Feedspage"
            android:label="@string/title_activity_feedspage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.Dtu_connect.Comment" />
        <activity android:name="com.example.Dtu_connect.LikeByList" />
        <activity android:name="com.example.Dtu_connect.users" />
        <activity android:name="com.example.Dtu_connect.Profile" />
        <activity android:name="com.example.Dtu_connect.Add" />
        <activity android:name="com.example.Dtu_connect.inside" />
        <activity android:name="com.example.Dtu_connect.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Dtu_connect.ui.login.LoginActivity"
            android:label="@string/title_activity_login" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

        <activity android:name="com.example.Dtu_connect.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>